DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/job_finder
JWT_SECRET_KEY=change-me
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
SEED_DEFAULT_USER=true
DEFAULT_USER_NAME=Chris Carl
DEFAULT_USER_EMAIL=chris77carl@gmail.com
DEFAULT_USER_PASSWORD=default
CORS_ORIGINS=http://localhost:3000
